<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Agregar categoria</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-6">
            <form th:action="@{/saveCategory}" th:object="${category}" method="POST">
                <div class="form-group">
                    <label for="category">Nombre Categoria</label>
                    <input type="text" class="form-control" placeholder="Categoria" name="category" id="category" th:field="*{category}">
                    <span th:errors="*{category}" style="color:#e81505"></span>
                </div>  
                
        
        
                <input type="submit" value="enviar" class="btn btn-success">
        
            </form>
        </div>
    </div>
</body>
</html>